
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SayGoodMorning</title>
</head>
<body>
    <div> 
        <h1>Good Morning</h1>
    </div>

    <a href="/Home/Index">Go Home!</a>

    <br />
    <br />

    <form method="post" action="/Home/showuserinput">
        <input type="text" name="input1" />
        <br />
        <input type="submit" />
    </form>
</body>
</html>
